syntax = "proto3";

package $dto.packageName;

option java_multiple_files = true;

#if($dto.isEnum())
enum $dto.className {

#foreach ($value in $dto.data.values)
#set ($index = $velocityCount - 1)
	$value = $index;
#end
#else
#foreach ($import in $dto.imports)
import "$import";
#end
#if (! $dto.imports.isEmpty())

#end
message $dto.className {

#foreach ($field in $dto.fields)
#set ($index = $velocityCount)
   ${dto.fieldType($field)} ${dto.fieldName($field)} = $index;
#end
#end

}
