#*
 * UNCLASSIFIED
 * Northrop Grumman Proprietary
 * ____________________________
 *
 * Copyright (C) 2018, Northrop Grumman Systems Corporation
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of
 * Northrop Grumman Systems Corporation. The intellectual and technical concepts
 * contained herein are proprietary to Northrop Grumman Systems Corporation and
 * may be covered by U.S. and Foreign Patents or patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Northrop Grumman.
 *#${header.gradle}
syntax = "proto3";

package $dto.packageName;

option java_multiple_files = true;

#if($dto.isEnum())
enum $dto.className {

#foreach ($value in $dto.data.values)
	$value = ${foreach.index};
#end
#else
#foreach ($import in $dto.imports)
import "$import";
#end
#if (! $dto.imports.isEmpty())

#end
message $dto.className {

#foreach ($field in $dto.fields)
   ${dto.fieldType($field)} ${dto.fieldName($field)} = ${foreach.count};
#end
#end

}
