package ${dto.packageName};

import com.google.inject.AbstractModule;
import com.ngc.seaside.service.transport.impl.defaultz.module.DefaultTransportServiceModule;
#foreach ($transportProvider in $dto.transportProviders)
import ${transportProvider.modulePackage}.${transportProvider.moduleType};
#end

public class ${dto.modelName}TestConfigurationModule extends AbstractModule {

   @Override
   protected void configure() {
      install(new DefaultTransportServiceModule());
#foreach ($transportProvider in $dto.transportProviders)
      install(new ${transportProvider.moduleType}());
#end
   }

}
