# Eclipse
.project
.classpath
.settings/
.metadata
bin/
*.class
!**/src/**/bin/

# Package Files #
*.war
*.ear

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
target/

# Gradle
.gradle
build/
gradle-app.setting
.gradletasknamecache
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#VS
*.sln
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
.vs

# Logs
logs/
*.log
*.log.*