package ${dto.packageName};

import com.ngc.seaside.service.transport.api.ITransportProvider;
import com.ngc.seaside.service.transport.api.TransportConfiguration;
import com.ngc.seaside.service.transport.impl.topic.httpclient.HttpClientTopic;
import com.ngc.seaside.service.transport.impl.topic.httpclient.HttpClientVerb;
import ${dto.topicsImport};

public class ${dto.classname} {

   private ${dto.classname}() {
   }

   public static void configure(TransportConfiguration config, ITransportProvider<HttpClientTopic> httpClientProvider) {
#foreach ($topic in $dto.topics)
      HttpClientTopic ${topic.variableName} = new HttpClientTopic(
            "http://${topic.networkAddress.address}:${topic.port}${topic.path}",
            HttpClientVerb.${topic.httpMethod},
            HttpClientTopic.DEFAULT_TIMEOUT,
            HttpClientTopic.ContentTypes.PROTOCOL_BUFFERS);

#end
#foreach ($entry in $dto.topics)
      config.whenSending()
            .toApplicationTopic(${entry.name})
            .useTransportProvider(httpClientProvider)
#foreach ($topic in $dto.topics)
            .onPhysicalTopic(t -> ${topic.variableName})#if (! $foreach.hasNext);
#end
#end

#end
   }
}
