#set( $D = '$' )
dependencies {
   implementation project(':${dto.baseProjectArtifactName}')

   implementation "${dto.getFormattedDependency('com.ngc.seaside:service.transport.api')}"
   implementation "${dto.getFormattedDependency('com.ngc.seaside:service.transport.impl.testutils')}"
#foreach ($dependency in $dto.transportProviderDependencies)
   implementation "${dto.getFormattedDependency($dependency)}"
#end

   implementation "${dto.getFormattedDependency('com.google.inject:guice')}"
}
