${header.java}
package ${dto.packageName};

#set ($dto.imports.package = $dto.packageName)
#set ($ignore = $dto.imports.add("com.ngc.blocs.service.log.api.ILogService"))
#set ($ignore = $dto.imports.add("com.ngc.seaside.service.telemetry.api.ITelemetryService"))
#set ($ignore = $dto.imports.add("org.osgi.service.component.annotations.Activate"))
#set ($ignore = $dto.imports.add("org.osgi.service.component.annotations.Component"))
#set ($ignore = $dto.imports.add("org.osgi.service.component.annotations.Reference"))
${dto.imports.generateJava()}

@Component(service = ${dto.className}.class, immediate = true)
public class ${dto.className} {

   private ILogService logService;
   private ITelemetryService telemetryService;

   @Activate
   public void activate() {
      telemetryService.setServiceName("${dto.model.fullyQualifiedName}");
      logService.debug(${dto.className}.class, "Activated");
   }

   @Reference
   public void setLogService(ILogService ref) {
      this.logService = ref;
   }

   public void removeLogService(ILogService ref) {
      setLogService(null);
   }

   @Reference
   public void setTelemetryService(ITelemetryService ref) {
      this.telemetryService = ref;
   }

   public void removeTelemetryService(ITelemetryService ref) {
      setTelemetryService(null);
   }
}
