#set( $D = '$' )
${header.gradle}
dependencies {
   implementation project(':${dto.baseProjectName}')

#foreach ($dependency in $dto.compileDependencies)
   implementation "${dto.getFormattedDependency($dependency)}"
#end

#foreach ($dependency in $dto.defaultModules)
   implementation "${dto.getFormattedDependency($dependency)}"
#end
}
