#*
 * UNCLASSIFIED
 * Northrop Grumman Proprietary
 * ____________________________
 *
 * Copyright (C) 2018, Northrop Grumman Systems Corporation
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of
 * Northrop Grumman Systems Corporation. The intellectual and technical concepts
 * contained herein are proprietary to Northrop Grumman Systems Corporation and
 * may be covered by U.S. and Foreign Patents or patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Northrop Grumman.
 *#
#set( $D = '$' )
${header.gradle}

configurations {
   defaultBundles {
      extendsFrom configurations.default
   }
}

dependencies {
#foreach ($dependency in $dto.projectDependencies)
   implementation project(':$dependency')
#end

   implementation "${build.getFormattedDependency('com.ngc.seaside:service.api')}"
   implementation "${build.getFormattedDependency('com.ngc.seaside:service.transport.api')}"

   implementation "${build.getFormattedDependency('com.ngc.blocs:service.api')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.core')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.enterprise')}"

   defaultBundles "${build.getFormattedDependency('com.ngc.seaside:service.request.impl.microservicerequestservice')}"
}
