#set( $D = '$' )
${header.gradle}

configurations {
   defaultBundles {
      extendsFrom configurations.default
   }
}

dependencies {
#foreach ($dependency in $dto.projectDependencies)
   implementation project(':$dependency')
#end

   implementation "${build.getFormattedDependency('com.ngc.seaside:service.api')}"
   implementation "${build.getFormattedDependency('com.ngc.seaside:service.transport.api')}"

   implementation "${build.getFormattedDependency('com.ngc.blocs:service.api')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.core')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.enterprise')}"

   defaultBundles "${build.getFormattedDependency('com.ngc.seaside:service.request.impl.microservicerequestservice')}"
}
