#set( $D = '$' )
apply plugin: 'com.ngc.blocs.gradle.plugin.domain'

generateDomain {
   domainGenProperty('template.list', file('src/main/resources/velocity/${velocityFile}'))
}

dependencies {
   compile "com.ngc.blocs:service.api:${D}blocsDomainVersion"
}

jar {
   manifest {
      attributes('Export-Package': 
#foreach($pkg in $packages)
#if( $foreach.hasNext )
         '$pkg.*,' + 
#else
         '$pkg.*')
#end
#end
   }
}
