#set( $D = '$' )
${header.gradle}
apply plugin: 'com.ngc.seaside.distribution.felixservice'

configurations {
   bundles.resolutionStrategy.eachDependency {
      if (requested.group == 'log4j' && requested.name == 'log4j') {
         useTarget "log4j:log4j-osgi:${D}{requested.version}"
      }
   }
}

dependencies {
#foreach ($entry in $dto.projectDependencies.entrySet())
#set( $dependency = $entry.key )
#set( $configuration = $entry.value )
#if ($configuration)
   bundles project(path: ':$dependency', configuration: '$configuration')
#else
   bundles project(':$dependency')
#end
#end

   bundles "${build.getFormattedDependency('com.ngc.seaside:service.monitoring.impl.loggingmonitoringservice')}"
}
