#set( $D = '$' )

dependencies {
#foreach ($project in  $serviceDto.projectDependencies)
   implementation project(':${project}')
#end

   implementation "${serviceDto.getFormattedDependency('com.ngc.seaside:service.api')}"
   implementation "${serviceDto.getFormattedDependency('com.ngc.blocs:service.api')}"
   implementation "${serviceDto.getFormattedDependency('org.osgi:osgi.core')}"
   implementation "${serviceDto.getFormattedDependency('org.osgi:osgi.enterprise')}"
   implementation "${serviceDto.getFormattedDependency('com.google.guava:guava')}"

   testImplementation "${serviceDto.getFormattedDependency('junit:junit')}"
   testImplementation "${serviceDto.getFormattedDependency('org.mockito:mockito-core')}"
}
