<?xml version="1.0" encoding="UTF-8"?>
<!--

    UNCLASSIFIED
    Northrop Grumman Proprietary
    ____________________________

    Copyright (C) 2018, Northrop Grumman Systems Corporation
    All Rights Reserved.

    NOTICE:  All information contained herein is, and remains the property of
    Northrop Grumman Systems Corporation. The intellectual and technical concepts
    contained herein are proprietary to Northrop Grumman Systems Corporation and
    may be covered by U.S. and Foreign Patents or patents in process, and are
    protected by trade secret or copyright law. Dissemination of this information
    or reproduction of this material is strictly forbidden unless prior written
    permission is obtained from Northrop Grumman.

-->

<!-- This file configures logging for unit and integration tests. -->
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="chapters.configuration" level="TRACE"/>

   <root level="ALL">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>
