<?xml version="1.0" encoding="UTF-8"?>
<!--

    UNCLASSIFIED
    Northrop Grumman Proprietary
    ____________________________

    Copyright (C) 2019, Northrop Grumman Systems Corporation
    All Rights Reserved.

    NOTICE:  All information contained herein is, and remains the property of
    Northrop Grumman Systems Corporation. The intellectual and technical concepts
    contained herein are proprietary to Northrop Grumman Systems Corporation and
    may be covered by U.S. and Foreign Patents or patents in process, and are
    protected by trade secret or copyright law. Dissemination of this information
    or reproduction of this material is strictly forbidden unless prior written
    permission is obtained from Northrop Grumman.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <!-- Hibernate logging configuration. -->
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <logger name="java.sql">
        <level value="WARN"/>
    </logger>

    <logger name="com.ngc.blocs.service">
        <level value="WARN"/>
    </logger>

    <logger name="com.ngc.blocs.tools.dependencyspider">
        <level value="WARN"/>
    </logger>

    <!-- Turn off beanutils. -->
    <logger name="org.apache.commons.beanutils">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</log4j:configuration>
