/**
***************************************** UNCLASSIFIED ******************************************
*************************************************************************************************
************************* Copyright 2017 Northrop Grumman Corporation ***************************
* Author: Generated
*/
package $dto.packageName;

/**
 * This file has been generated and should not be edited directly.
 * @author Generated
 **/
public#if($dto.isAbstract()) abstract#end #if($dto.isEnum())enum#{else}class#end ${dto.className}#if($dto.extendedClass) extends $dto.extendedClass#end {

## Generate an enumeration
#if($dto.isEnum())
#set($size = $dto.data.values.size())
#foreach ($value in $dto.data.values)
#if($velocityCount == $size)
	$value
#else
	$value,
#end
#end
## Generate the class
#else
##Topic and Name
   public static final String TOPIC_NAME = "/data/${dto.packageName}.${dto.className}";

   public static final com.ngc.blocs.service.event.api.IEventTopic<${dto.className}> TOPIC = 
      com.ngc.blocs.service.event.api.EventTopic.of(TOPIC_NAME, ${dto.className}.class);

#foreach ($field in $dto.data.fields)
   private ${dto.fieldType($field)} ${dto.fieldName($field)};
#end##field definitions

#foreach ($field in $dto.data.fields)
   public ${dto.fieldType($field)} ${dto.fieldGetter($field)}() {
      return ${dto.fieldName($field)};
   }

   public ${dto.className} ${dto.fieldGetter($field)}(${dto.fieldType($field)} ${dto.fieldName($field)}) {
      this.${dto.fieldType($field)} = ${dto.fieldType($field)};
      return this;
   }

#end
#set($size = ${dto.data.fields.size()})
   @Override
   public int hashCode() {
      return Objects.hash(
#if($dto.extendedClass)
      super.hashCode()#if(! $dto.data.fields.isEmpty()),#end
#end
#foreach ($field in $dto.data.fields)
       this.${dto.fieldName($field)}#if($velocityCount != $size),#end
#end
      );
   }

   @Override
   public boolean equals(Object obj) {
      if(obj == this) {
         return true;
      }

      if(!(obj instanceof ${dto.className})) {
         return false;
      }

#if(${dto.data.fields.isEmpty()})
      return #if($dto.extendedClass)super.equals(obj)#{else}true#end;
#else
      ${dto.className} that = (${dto.className}) obj;

      return #if($dto.extendedClass)super.equals(obj) &&#end
#foreach ($field in $dto.data.fields)
         java.util.Objects.equals(this.${dto.fieldName($field)}, that.${dto.fieldName($field)})#if($velocityCount == $size) &&#end
#end
      ;
#end
   }

   @Override
   public String toString() {
      StringBuilder builder = new StringBuilder();
#if($dto.extendedClass)
      builder.append(super.toString());
#else
	  builder.append(getClass().getSimpleName())#if(! $dto.data.fields.isEmpty()).append(" - ")#end;
#end
#foreach ($field in $dto.data.fields)
      builder.append("[${dto.fieldName($field)}=").append(${dto.fieldName($field)}).append("]");
#end
      return builder.toString();
   }
#end

}
