<!DOCTYPE html>
<html lang="en">

<head>
  <title>${dto.title}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

#foreach ($section in $dto.contents)
${section}
#end
</body>

</html>
