#set( $D = '$' )

#if (! $dto.system)
configurations {
   defaultBundles {
      extendsFrom configurations.default
   }
}

#end
dependencies {
#foreach ($project in  $dto.projectDependencies)
    api project(':${project}')
#end
#foreach ($entry in $dto.moduleDependencies.entrySet())
#set ($configuration = $entry.key)
#set ($dependencies = $entry.value)
#foreach ($dependency in $dependencies)
    ${configuration} "${build.getFormattedDependency($dependency)}"
#end
#end
}

jar {
    manifest {
        attributes('Export-Package': '${dto.exportedPackagesSnippet}')
    }
}
