#*
 * UNCLASSIFIED
 * Northrop Grumman Proprietary
 * ____________________________
 *
 * Copyright (C) 2019, Northrop Grumman Systems Corporation
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of
 * Northrop Grumman Systems Corporation. The intellectual and technical concepts
 * contained herein are proprietary to Northrop Grumman Systems Corporation and
 * may be covered by U.S. and Foreign Patents or patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Northrop Grumman.
 *#
#set( $D = '$' )
buildscript {
    repositories {
        mavenLocal()

        maven {
            credentials {
                username nexusUsername
                password nexusPassword
            }
            url nexusConsolidated
        }
    }

   dependencies {
      #foreach ( $dependency in $dto.buildScriptDependencies )
      classpath "${dependency.groupId}:${dependency.artifactId}:${dependency.version}"
      #end
   }
}

apply plugin: 'com.ngc.seaside.jellyfish.system-descriptor-derived-root'

#if ($dto.system)
ext {
   logger.error "Not implemented: you need specify the versions for the distributions of this system's parts"
   // TODO: Add versions for these distributions
#foreach ( $part in $dto.modelParts)
   // ${part.distributionVersion} = '1.2.3'
#end
}
#end
systemDescriptor {
   project = '${dto.systemDescriptorGav}'
   model = '${dto.modelName}'
#if ($dto.deploymentModelName)
   deploymentModel = '${dto.deploymentModelName}'
#end
#if ($dto.system)
   /* TODO: Uncomment this block when the versions have been set
#foreach ( $part in $dto.modelParts)
   part {
      model = '${part.model}'
      distribution = "${part.distribution}"
   }
#end
   */
#end
}

subprojects {

   // Do not apply the parent plugin to the distribution project.
   if(!name.endsWith('.distribution')
       && !name.endsWith('.docker')) {
      apply plugin: 'com.ngc.seaside.parent'
   }

   group = '${dto.groupId}'
   version = '${dto.version}'

   ext {
      licenseFile = file("${D}{rootProject.projectDir}/LICENSE")

      #foreach ( $entry in $dto.versionProperties.entrySet() )
      ${entry.key} = '${entry.value}'
      #end
   }
}
