#set($D='$')

dependencies {
   #foreach ($project in  $dto.projectDependencies)
   implementation project(':${project}')
   #end

   implementation "${build.getFormattedDependency('com.ngc.seaside:service.api')}"
   implementation "${build.getFormattedDependency('com.ngc.seaside:service.transport.api')}"
   implementation "${build.getFormattedDependency('com.ngc.blocs:service.api')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.core')}"
   implementation "${build.getFormattedDependency('org.osgi:osgi.enterprise')}"
   implementation "${build.getFormattedDependency('com.google.guava:guava')}"
}
