@import url("bootstrap-4.0.0/bootstrap.min.css");
@import url("fontawesome-5.0.9/fontawesome-all.min.css");
@import url("tango.css");

/* Common rules */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-weight: bold;
  font-size: 14pt;
}

.github {
  color: #E36B4A;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #FFFFFF;
}

#header .contents {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 14pt;
}

#header .jellyfish-nav  {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#header .btn-link {
  color: #324553;
  font-weight: bold;
  font-size: 14pt;
  padding: 0;
}

#header #jellyfish-logo .btn-link {
  font-size: 24pt;
}

#header .github .btn-link {
  color: #E36B4A;
  padding-left: 0.25rem;
}

#header #ceacide-logo {
  background-repeat: no-repeat;
  background-position-x: 18px;
}


/*#header #logo-nav-col {
  text-align: left;
}

#header #logo-nav-col .btn-link {
  font-weight: bold;
}

#header .contents .jf-nav-col {
  text-align: center;
}

#header .contents .jf-nav-col .btn-link {
  color: #F7F5F5;
  font-size: 14pt;
  padding: 0;
}

#header .contents .jf-github,
#header .contents .jf-github .btn-link  {
  color: #E36B4A;
  font-size: 14pt;
}*/

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em;
}

#footer .contents {
  background-color: #7C7C7C;
  color: #F2F5F7;
  text-align: right;
  padding: 0 0.5em;
}

/* For footer */
#main-container {
  min-height: 100%;
  position: relative;
}

#page-contents {
  padding-bottom: 4.0em; /* Height of the footer + extra padding */
}

.main {
  padding-top: 1em;
}

span.code {
  font-family: monospace;
  color: #7B7B7B;
}

.jf-btn-inline {
  padding: 0px;
  text-decoration: underline;
}

.subsection-contents {
  margin-left: 1em;
}

.vcenter {
  display: flex;
  align-items: center;
}

.highlighter-rouge pre.highlight {
  margin-bottom: 0;
}

.highlighter-rouge {
  padding-bottom: 1em;
}


