/**
 *  UNCLASSIFIED
 *  Northrop Grumman Proprietary
 *  ____________________________
 *
 *   Copyright © 2018, Northrop Grumman Systems Corporation
 *   All Rights Reserved.
 *
 *  NOTICE:  All information contained herein is, and remains the property of
 *  Northrop Grumman Systems Corporation. The intellectual and technical concepts
 *  contained herein are proprietary to Northrop Grumman Systems Corporation and
 *  may be covered by U.S. and Foreign Patents or patents in process, and are
 *  protected by trade secret or copyright law. Dissemination of this information
 *  or reproduction of this material is strictly forbidden unless prior written
 *  permission is obtained from Northrop Grumman.
 */

@import url("bootstrap-4.0.0/bootstrap.min.css");
@import url("fontawesome-5.1.0/all.css");
@import url("tango.css");

/* Common rules */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 20pt;
  margin-top: 1rem;
}

h3 {
  font-size: 16pt;
}

code {
  color: #0B559F;
  font-size: 95%;
}

blockquote {
  margin-left: 4rem;
  margin-right: 4rem;
}

.stripe {
  background-color: #324553;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.github {
  color: #E36B4A;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-gold {
  color: #FFFFFF;
  background-color: #F37830;
}

.btn-gold:hover,
.btn-gold:focus, 
.btn-gold:active, 
.btn-gold.active, 
.btn-gold:active:focus,
.open>.dropdown-toggle.btn-gold {
  color: #fff;
  background-color: #E46921;
}

.main.container {
  padding-left: 0;
  padding-right: 0;
}

.main.container > h1:first-child {
  color: #FFFFFF;
  background-color: #324553;
  height: 65px;
}

pre .keyword,
code .keyword {
  color: #800F65;
}

/* Made SD code examples look decent. */
div.highlighter-rouge span.p,
div.highlighter-rouge span.k {
  color: #000000;
  font-weight: normal;
}

div.highlighter-rouge code span.sd-keyword {
  color: #800F65;
}

/* For Gherkin.*/
div.highlighter-rouge span.nf {
  color: #204a87;
  font-weight: bold;
}

#title-stripe {
  height: 65px;
}

/* Rules for the header */
#header {
  background-color: #FFFFFF;
}

#header .contents {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 14pt;
}

#header .jellyfish-nav  {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#header .btn-link {
  color: #324553;
  font-weight: bold;
  font-size: 14pt;
  padding: 0;
}

#header #jellyfish-logo .btn-link {
  font-size: 24pt;
}

#header .github .btn-link {
  color: #E36B4A;
  padding-left: 0.25rem;
}

#header #ceacide-logo {
  background-repeat: no-repeat;
  background-position-x: 18px;
}

/* For footer */
#main-container {
  min-height: 100%;
  position: relative;
}

#page-contents {
  padding-bottom: 4.0em; /* Height of the footer + extra padding */
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1.5em;
}

#footer .contents {
  text-align: center;
  padding: 0 0.5em;
}

/* Index rules */
#main-stripe {
  background-color: #324553;
  position: absolute;
  width: 100%;
  height: 245px;
  z-index: -1;
}

#index #top-row {
  height: 245px;
  background-position: center;
  background-repeat: no-repeat;
}

#index #top-row .row:first-child .col {
  margin-top: 62px;
}

#index #top-row h1 {
  color: #FFFFFF;
  font-size: 32pt;
}

#index #get-jellyfish {
  font-weight: bold;
  font-size: 14pt;
}

#index .book-link {
  max-width: 330px;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#index #code-example {
  border: 1px solid #E3E4E5;
  padding: 4px;
}

#index h3 {
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  background-color: #E3E4E5;
  padding-top: 2px;
  padding-bottom: 2px;
}

#intro-wrapper {
  margin: auto;
  width: 500px;
}

#intro {
  text-align: center;
  font-size: 24pt;
  padding: 25px;
}

/* Rules for books */
#books .book-link {
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  width: 550px;
}

#books .book-link h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.book-cover-page .chapter-link {
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
  width: 600px;
}

.book-cover-page .chapter-link .fa-bookmark {
  margin-right: 6px;
}

.book #book-nav #prev {
  text-align: right;
}

.book #book-nav #toc {
  text-align: center;
}

.book #book-nav #next {
  text-align: left;
}

.book pre {
  border: 4px solid #E3E4E5;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
}

.book img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.book pre.note code {
  white-space: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.book .code-title,
.book .note-title {
  margin-bottom: 0;
  background-color: #E3E4E5;
  border: 1px solid #E3E4E5;
  border-radius: 10px 10px 0 0;
  padding: 0.25rem 0.5rem 0 0.5rem;
}

.book .note-title-info {
  color: #004085;
  background-color: #BEE5EB;
  border-color: #BEE5EB;
}

.book pre.note-info {
  color: #004085;
  background-color: #D1ECF1;
  border-color: #BEE5EB;
}

.book .note-title-warning {
  color: #721c24;
  background-color: #F5C6CB;
  border-color: #F5C6CB;
}

.book pre.note-warning {
  color: #721c24;
  background-color: #F8D7DA;
  border-color: #F5C6CB;
}