#*
 * UNCLASSIFIED
 * Northrop Grumman Proprietary
 * ____________________________
 *
 * Copyright (C) 2019, Northrop Grumman Systems Corporation
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains the property of
 * Northrop Grumman Systems Corporation. The intellectual and technical concepts
 * contained herein are proprietary to Northrop Grumman Systems Corporation and
 * may be covered by U.S. and Foreign Patents or patents in process, and are
 * protected by trade secret or copyright law. Dissemination of this information
 * or reproduction of this material is strictly forbidden unless prior written
 * permission is obtained from Northrop Grumman.
 *#${header.java}
package ${serviceDto.service.packageName};

#set ($ignore = $serviceDto.adviser.imports.add("com.ngc.blocs.service.log.api.ILogService"))
#set ($ignore = $serviceDto.adviser.imports.add("org.osgi.service.component.annotations.Activate"))
#set ($ignore = $serviceDto.adviser.imports.add("org.osgi.service.component.annotations.Component"))
#set ($ignore = $serviceDto.adviser.imports.add("org.osgi.service.component.annotations.Deactivate"))
#set ($ignore = $serviceDto.adviser.imports.add("org.osgi.service.component.annotations.Reference"))
#foreach ($i in $serviceDto.adviser.imports)
import ${i};
#end

@Component(service = ${serviceDto.interface}Adviser.class)
public class ${serviceDto.adviser.name} implements ${serviceDto.interface}Adviser {

   private ILogService logService;

   @Activate
   public void activate() {
      logService.debug(getClass(), "Activated.");
   }

   @Deactivate
   public void deactivate() {
      logService.debug(getClass(), "Deactivated.");
   }

   @Reference
   public void setLogService(ILogService ref) {
      this.logService = ref;
   }

   public void removeLogService(ILogService ref) {
      setLogService(null);
   }
}
