#*
 * UNCLASSIFIED
 *
 * Copyright 2020 Northrop Grumman Systems Corporation
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the
 * Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *#
package ${serviceDto.service.packageName};

#set ($ignore = $serviceDto.service.imports.add("com.ngc.blocs.service.api.IServiceModule"))
#set ($ignore = $serviceDto.service.imports.add("com.ngc.blocs.service.log.api.ILogService"))
#set ($ignore = $serviceDto.service.imports.add("com.ngc.seaside.service.fault.api.IFaultManagementService"))
#set ($ignore = $serviceDto.service.imports.add("com.ngc.blocs.service.thread.api.IThreadService"))
#set ($ignore = $serviceDto.service.imports.add("com.ngc.seaside.service.fault.api.ServiceFaultException"))
#if (!$baseServiceDto.correlationMethods.isEmpty())
#set ($ignore = $serviceDto.service.imports.add("com.ngc.seaside.service.correlation.api.ICorrelationService"))
#set ($ignore = $serviceDto.service.imports.add("com.ngc.seaside.service.correlation.api.ILocalCorrelationEvent"))
#end
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.Activate"))
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.Component"))
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.Deactivate"))
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.Reference"))
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.ReferenceCardinality"))
#set ($ignore = $serviceDto.service.imports.add("org.osgi.service.component.annotations.ReferencePolicy"))
#foreach ($i in $serviceDto.service.imports)
import ${i};
#end

@Component(service = {${serviceDto.interface}.class, IServiceModule.class}, immediate = true)
public class ${serviceDto.service.name} extends ${serviceDto.baseClass} {

#foreach ($method in $baseServiceDto.basicPubSubMethods)
   @Override
   public ${method.output.type} ${method.name}(${method.input.type} ${method.input.fieldName}) throws ServiceFaultException {
      // TODO: implement this
      throw new UnsupportedOperationException("not implemented");
   }

#end
#foreach ($method in $baseServiceDto.correlationMethods)
   @Override
   public ${method.output.type} ${method.name}(
#foreach ($input in $method.inputs)
#if( $foreach.count < $method.inputs.size() )
               ${input.type} ${input.fieldName},
#else
               ${input.type} ${input.fieldName}) {
#end
#end
         // TODO: implement this
         throw new UnsupportedOperationException("not implemented");
   }

#end
#foreach ($method in $baseServiceDto.basicServerReqResMethods)
   @Override
   public ${method.output.type} ${method.name}(${method.input.type} ${method.input.fieldName}) throws ServiceFaultException{
      // TODO: implement this
      throw new UnsupportedOperationException("not implemented");
   }

#end
   @Activate
   public void activate() {
      super.activate();
   }

   @Deactivate
   public void deactivate() {
      super.deactivate();
   }

   @Override
   @Reference(cardinality = ReferenceCardinality.MANDATORY, policy = ReferencePolicy.STATIC, unbind = "removeLogService")
   public void setLogService(ILogService ref) {
      super.setLogService(ref);
   }

   @Override
   public void removeLogService(ILogService ref) {
      super.removeLogService(ref);
   }

   @Override
   @Reference(cardinality = ReferenceCardinality.MANDATORY, policy = ReferencePolicy.STATIC, unbind = "removeFaultManagementService")
   public void setFaultManagementService(IFaultManagementService ref) {
      super.setFaultManagementService(ref);
   }

   @Override
   public void removeFaultManagementService(IFaultManagementService ref) {
      super.removeFaultManagementService(ref);
   }

   @Override
   @Reference(cardinality = ReferenceCardinality.MANDATORY, policy = ReferencePolicy.STATIC, unbind = "removeThreadService")
   public void setThreadService(IThreadService ref) {
      super.setThreadService(ref);
   }

   @Override
   public void removeThreadService(IThreadService ref) {
      super.removeThreadService(ref);
   }

#if (!$baseServiceDto.correlationMethods.isEmpty())
   @Override
   @Reference(cardinality = ReferenceCardinality.MANDATORY, policy = ReferencePolicy.STATIC, unbind = "removeCorrelationService")
   public void setCorrelationService(ICorrelationService ref) {
      this.correlationService = ref;
   }

   @Override
   public void removeCorrelationService(ICorrelationService ref) {
      setCorrelationService(null);
   }

#end
}
