<?xml version="1.0" encoding="UTF-8"?>

<!-- This file configures logging for unit and integration tests. -->
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="chapters.configuration" level="TRACE"/>

   <root level="ALL">
      <appender-ref ref="STDOUT"/>
   </root>
</configuration>
