#set( $D = '$' )

configurations {
   defaultBundles {
      extendsFrom configurations.default
   }
}

dependencies {
   implementation project(':${dto.baseProjectName}')
#foreach ($dependency in $dto.compileDependencies)
   implementation "${dto.getFormattedDependency($dependency)}"
#end
   
   implementation "${dto.getFormattedDependency('com.ngc.blocs:service.api')}"
   implementation "${dto.getFormattedDependency('org.osgi:osgi.core')}"
   implementation "${dto.getFormattedDependency('org.osgi:osgi.enterprise')}"

#foreach ($dependency in $dto.defaultBundles)
   defaultBundles "${dto.getFormattedDependency($dependency)}"
#end
}
