#set($D='$')

dependencies {
   #foreach ($project in  $dto.projectDependencies)
   compile project(':${project}')
   #end

	compile "${build.getFormattedDependency('com.ngc.seaside:service.api')}"
   compile "${build.getFormattedDependency('com.ngc.seaside:service.transport.api')}"
   compile "${build.getFormattedDependency('com.ngc.blocs:service.api')}"
   compile "${build.getFormattedDependency('org.osgi:osgi.core')}"
   compile "${build.getFormattedDependency('org.osgi:osgi.enterprise')}"
   compile "${build.getFormattedDependency('com.google.guava:guava')}"
}
